.btn{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.OnButton{
  margin-left: 15%;
  margin-right: 10%;
}

.volumeButton{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.minusButton{
  margin-left: 17%;
  margin-right: 19%;
}

h4{
  margin-left: 44%;
  margin-top: 5%;
  margin-bottom: 5%;
}



