.sidebar{
  position: fixed;
}

.btn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.light{
  position: fixed;
  margin-top:2%;
}

.light-btn{
  margin-right:75px;
}

.off-light-btn, .light-btn{
  margin-top: 15%;
  margin-bottom: 30%;
}

.stores{
  position: fixed;
  margin-top: 14%;
  margin-left: 1%;
}


.open-btn{
  margin-right: 75px;
}

.close-btn, .open-btn{
  margin-top: 80%;
}

.volume{
  position: fixed;
  margin-top: 17%;
  margin-left: 5%;
}


.volumeButton{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 39%;
}

.plusButton{
  margin-left: 1%;
}

.minusButton{
  margin-left: 17%;
  margin-right: 19%;
}

h4{
  margin-left: 40%;
  margin-bottom: 5%;
}



