<div class="container-fluid" >
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <h4><span class="far fa-lightbulb fa-3x sidebar light"></span> </h4>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row sidebar">
    <input  type="button" class="btn light-btn btn-secondary OnButton" *ngIf="lightOn" value="On" (click)="lightsButton()">
    <input  type="button" class="btn light-btn btn-success OnButton" *ngIf="!lightOn" value="On" >

    <input  type="button" class="btn off-light-btn btn-secondary OffButton" *ngIf="lightOff" value="Off" (click)="lightsButton()">
    <input  type="button" class="btn off-light-btn btn-success OffButton" *ngIf="!lightOff" value="Off" >
  </div>
  <div class="row stores">
    <h4> <input type="image" src="assets/images/stores.png" width="75" height="75"/></h4>
  </div>
  <div class="row sidebar">
    <input  type="button" class="btn open-btn btn-secondary OnButton" *ngIf="storesOpened" value="Open stores" (click)="storesButton()">
    <input  type="button" class="btn open-btn btn-success OnButton" *ngIf="!storesOpened" value="Open stores" >

    <input  type="button" class="btn close-btn btn-secondary OffButton" *ngIf="storesClosed" value="Close stores" (click)="storesButton()">
    <input  type="button" class="btn close-btn btn-success OffButton" *ngIf="!storesClosed" value="Close stores" >
  </div>
  <div class="row volume">
    <h4> <span class="fas fa-volume-up fa-2x sidebar volume"></span></h4>
  </div>
  <div class="row">
  </div>
  <input  type="button" class="sidebar btn btn-secondary minusButton volumeButton" value="Vol -">
  <input  type="button" class="sidebar btn btn-secondary plusButton volumeButton"  value="Vol +">


</div>
