.sidebar{
  position: fixed;
}

.btn{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.light{
  position: fixed;
}

.light-btn{
  margin-right:150px;
}

.off-light-btn, .light-btn{
  margin-top: 15%;
}

.stores{
  position: fixed;
  margin-top: 13%;
  margin-left: 3%;
}


.open-btn{
  margin-right: 150px;
}

.close-btn, .open-btn{
  margin-top: 70%;
}

.volume{
  position: fixed;
  margin-top: 15%;
  margin-left: 6%;
}


.volumeButton{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 33%;
}

.plusButton{
  margin-left: 2%;
}

.minusButton{
  margin-left: 17%;
  margin-right: 19%;
}

h4{
  margin-left: 40%;
  margin-bottom: 5%;
}



