.spotify{
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;

}

.spotify-search{
  margin-top: 70%;
  width:150px;
  height: 40px;
}

.spotify-search-btn{
  margin-top: 270%;
}

.search-bar{
  margin-left: 20%;
}

.twitch{
  position: absolute;
  margin-left: -15%;
  margin-top: 20%;
}



.btn{
  background-color: #2B3E50;
  border-radius: 50%;
  border: none;
}

.first-row-btns{
  margin-top: 10%;
}

.spotify-btn,.youtube-btn,.twitch-btn{
  margin-left: 5%;
  position: fixed;
}

.youtube-btn{
  margin-top: 14%;
}

.twitch-btn{
  margin-top: 28%;
}
