.spotify-search{
  margin-top: 100%;
  margin-left: -100%;
  width:200px;
  height: 40px;
}

.spotify-search-btn{
  margin-top: 270%;
  margin-left: 50px;
  margin-top:  75px;
}

.search-bar{
  margin-left: 20%;
}

.spotify-iframe{
  margin-top: 35%;
  margin-left: -20%;

}

.spotify{
  position: absolute;
  margin-left: -15%;
  margin-top: 10%;

}

.twitch{
  position: absolute;
  margin-left: -15%;
  margin-top: 35%;
}

.youtube{
  position: absolute;
  margin-left: -15%;
  margin-top: 30%;
}



.btn{
  background-color: #2B3E50;
  border-radius: 50%;
  border: none;
}

.first-row-btns{
  margin-top: 10%;
}

.spotify-btn,.youtube-btn,.twitch-btn{
    position: fixed;
}

.spotify-btn{
  margin-top:5%;
}

.youtube-btn{
  margin-top: 20%;
}

.twitch-btn{
  margin-top: 35%;
}
