<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row first-row-btns">
        <div class="col-1"></div>
        <div class="col-4">
          <button class="btn spotify-btn btn-dark" (click)="onSpotify()"><input type="image"
                                                                                src="assets/images/spotify.png"
                                                                                width="100" height="100"/></button>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          <button class="btn youtube-btn btn-dark" (click)="onYoutube()"><input type="image"
                                                                                src="assets/images/youtube.png"
                                                                                width="100" height="100"/></button>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          <button class="btn twitch-btn btn-dark" (click)="onTwitch()"><input type="image"
                                                                              src="assets/images/twitch.png"
                                                                              width="100" height="100"/></button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="currentDisplay == 'spotify'">
        <div class="row" *ngIf="!iframe">
          <div class="col-6 search-bar">
            <div class="row">
              <div class="col-7">
                <input type="text" name="search" [(ngModel)]="search" class="form-control spotify-search">
              </div>
              <div class="col-3">
                <span class="fa fa-search spotify-search-btn" (click)="onSpotifyGetArtist()"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!iframe">
          <div class="col-1"></div>
          <div class="col-11 spotify">
            <div class="row" *ngFor="let elt of resp">
              <div class="col-5" (click)="onClick(elt[0])">
                <img src="{{elt[0].image}}" style="height: 90px; width: auto">
                <p>{{elt[0].name}}</p>
              </div>
              <div class="col-2"></div>
              <div *ngIf="elt[1]!=undefined" class="col-5" (click)="onClick(elt[1])">
                <img src="{{elt[1].image}}" style="height: 90px; width: auto">
                <p>{{elt[1].name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="iframe">
          <iframe class="spotify-iframe" [src]="url | safe" width="300" height="400" frameborder="0" allowtransparency="true"
                  allow="encrypted-media" ></iframe>
        </div>
      </div>
      <div *ngIf="currentDisplay == 'youtube'">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-11 youtube">
            <div class="row" *ngFor="let elt of resp">
              <div class="col-5" (click)="onClick(elt[0])">
                <img src="{{elt[0].image}}" style="height: 75px; width: auto">
                <p>{{elt[0].name}}</p>
              </div>
              <div class="col-2"></div>
              <div *ngIf="elt[1]!=undefined" class="col-5" (click)="onClick(elt[1])">
                <img src="{{elt[1].image}}" style="height: 75px; width: auto">
                <p>{{elt[1].name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="currentDisplay == 'twitch'">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-11 twitch">
            <div class="row" *ngFor="let elt of resp">
              <div class="col-5 img1" (click)="onClick(elt[0])">
                <img src="{{elt[0].image}}" style="height: 80px; width: auto">
                <p>{{elt[0].name}}</p>
              </div>
              <div class="col-2"></div>
              <div *ngIf="elt[1]!=undefined" class="col-5" (click)="onClick(elt[1])">
                <img src="{{elt[1].image}}" style="height: 80px; width: auto">
                <p>{{elt[1].name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
